## Below is the output of the metaplot

[shan158538@login1 DES1_test3]$ cat DES1_CG_new_gbm_metaplot.tsv
#from_script: gbm_metaplot_pe.py; numBins: 20; numBinsStream: 20; streamSize: 1000; methTypes: CG
sample	bin	methType	mCount	tCount	value
DES1	0	CG	39	42	0.928571
DES1	1	CG	0	0	0.000000
DES1	2	CG	26	27	0.962963
DES1	3	CG	47	48	0.979167
DES1	4	CG	47	48	0.979167
DES1	5	CG	33	33	1.000000
DES1	6	CG	0	0	0.000000
DES1	7	CG	8	11	0.727273
DES1	8	CG	0	0	0.000000
DES1	9	CG	14	14	1.000000
DES1	10	CG	0	0	0.000000
DES1	11	CG	0	0	0.000000
DES1	12	CG	0	0	0.000000
DES1	13	CG	0	0	0.000000
DES1	14	CG	0	0	0.000000
DES1	15	CG	0	0	0.000000
DES1	16	CG	0	0	0.000000
DES1	17	CG	0	0	0.000000
DES1	18	CG	0	0	0.000000
DES1	19	CG	0	29	0.000000
DES1	20	CG	0	0	0.000000
DES1	21	CG	0	10	0.000000
DES1	22	CG	0	76	0.000000
DES1	23	CG	24	81	0.296296
DES1	24	CG	184	188	0.978723
DES1	25	CG	225	238	0.945378
DES1	26	CG	148	154	0.961039
DES1	27	CG	167	223	0.748879
DES1	28	CG	224	228	0.982456
DES1	29	CG	26	26	1.000000
DES1	30	CG	0	0	0.000000
DES1	31	CG	0	0	0.000000
DES1	32	CG	66	67	0.985075
DES1	33	CG	240	249	0.963855
DES1	34	CG	203	210	0.966667
DES1	35	CG	375	381	0.984252
DES1	36	CG	129	136	0.948529
DES1	37	CG	119	121	0.983471
DES1	38	CG	36	85	0.423529
DES1	39	CG	0	0	0.000000
DES1	40	CG	0	0	0.000000
DES1	41	CG	0	0	0.000000
DES1	42	CG	0	0	0.000000
DES1	43	CG	0	0	0.000000
DES1	44	CG	0	0	0.000000
DES1	45	CG	0	0	0.000000
DES1	46	CG	0	0	0.000000
DES1	47	CG	0	0	0.000000
DES1	48	CG	0	0	0.000000
DES1	49	CG	0	0	0.000000
DES1	50	CG	0	3	0.000000
DES1	51	CG	0	7	0.000000
DES1	52	CG	0	8	0.000000
DES1	53	CG	0	3	0.000000
DES1	54	CG	0	7	0.000000
DES1	55	CG	0	0	0.000000
DES1	56	CG	0	0	0.000000
DES1	57	CG	0	0	0.000000
DES1	58	CG	0	0	0.000000
DES1	59	CG	0	0	0.000000

## Below is the testing process

In [1]:
import sys,os,re
import pandas as pd

InFileName1 = "/orange/soltis/shan158538/Methylation_output/feature_methylation/gene_CG_shared/DES1_test3/allc_DES1_928.tsv"
InFileName2 = "/orange/soltis/shan158538/Methylation_output/feature_methylation/gene_CG_shared/DES1_test3/allc_DES1_10968.tsv"
Delimiter = '\t'
InFile1 = pd.read_csv(InFileName1, sep=Delimiter, header=None, names=['chr', 'pos', 'strand', 'context', 'mc', 'cov', 'methylated'])
InFile2 = pd.read_csv(InFileName2, sep=Delimiter, header=None, names=['chr', 'pos', 'strand', 'context', 'mc', 'cov', 'methylated'])

In [4]:
# Bin 8 of file 1
InFile1[(InFile1['pos'] > 50400) & (InFile1['pos'] < 50490)]

                      chr    pos  strand context  mc  cov  methylated
569  Tdub_V1_scaffold_928  50445     NaN      CG   8   11         NaN

In [5]:
# Bin 8 of file 2
InFile2[(InFile2['pos'] > 130464) & (InFile2['pos'] < 130514)]

Empty DataFrame
Columns: [chr, pos, strand, context, mc, cov, methylated]
Index: []

In [6]:
# Bin 24 of file 1; adjusted on CDS
InFile1[(InFile1['pos'] > 49397) & (InFile1['pos'] < 49438)]

Empty DataFrame
Columns: [chr, pos, strand, context, mc, cov, methylated]
Index: []

In [9]:
# Bin 24 of file 2; adjusted on CDS
InFile2[(InFile2['pos'] > 131941) & (InFile2['pos'] < 132146)]

                         chr     pos  strand context  mc  cov  methylated
1253  Tdub_V1_scaffold_10968  131975     NaN      CG   0    9         NaN
1254  Tdub_V1_scaffold_10968  132040     NaN      CG   1   12         NaN
1255  Tdub_V1_scaffold_10968  132041     NaN      CG   0    3         NaN
1256  Tdub_V1_scaffold_10968  132043     NaN      CG   0   12         NaN
1257  Tdub_V1_scaffold_10968  132044     NaN      CG   0    3         NaN
1258  Tdub_V1_scaffold_10968  132068     NaN      CG   0   14         NaN
1259  Tdub_V1_scaffold_10968  132069     NaN      CG   0    3         NaN
1260  Tdub_V1_scaffold_10968  132117     NaN      CG  20   22         NaN
1261  Tdub_V1_scaffold_10968  132118     NaN      CG   3    3         NaN

In [10]:
# Bin 53 of file 1
InFile1[(InFile1['pos'] > 46518) & (InFile1['pos'] < 46568)]

Empty DataFrame
Columns: [chr, pos, strand, context, mc, cov, methylated]
Index: []

In [14]:
# Bin 53 of file 2
InFile2[(InFile2['pos'] > 136870) & (InFile2['pos'] < 136920)]

                         chr     pos  strand context  mc  cov  methylated
1325  Tdub_V1_scaffold_10968  136896     NaN      CG   0    3         NaN
1326  Tdub_V1_scaffold_10968  136897     NaN      CG   0    5         NaN